<%= form_for(@roomreserf) do |f| %>
  <% if @roomreserf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@roomreserf.errors.count, "error") %> prohibited this roomreserf from being saved:</h2>

      <ul>
      <% @roomreserf.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :check_in %><br />
    <%= f.date_select :check_in %>
  </div>
  <div class="field">
    <%= f.label :check_out %><br />
    <%= f.date_select :check_out %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :room_id %><br />
    <%= f.number_field :room_id %>
  </div>
  <div class="field">
    <%= f.label :branch_id %><br />
    <%= f.number_field :branch_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
