<p id="notice"><%= notice %></p>

<p>
  <b>Room price:</b>
  <%= @room.room_price %>
</p>

<p>
  <b>Room max:</b>
  <%= @room.room_max %>
</p>

<p>
  <b>Room photo:</b>
  <%= @room.room_photo %>
</p>

<p>
  <b>Room desc:</b>
  <%= @room.room_desc %>
</p>

<p>
  <b>Room type:</b>
  <%= @room.room_type %>
</p>

<p>
  <b>Branch:</b>
  <%= @room.branch_id %>
</p>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
